@model ViteAspNetReact.Features.InviteUser.PhoneNumberInputModel


<div class="col-span-2 sm:col-span-1 grid items-center">
  <div class="font-medium text-gray-700 text-md">&nbsp;</div>
  <div class="font-medium text-gray-700 text-md mb-2">
    @Model.Label
  </div>
</div>
<div class="col-span-4 grid grid-cols-12 gap-6">
  <div class="col-span-2">
    <label asp-for="CountryCode"
           class="block text-sm font-medium text-gray-700">
    </label>
    <input asp-for="CountryCode"
           class="block w-full mt-1 border-gray-300 rounded-md shadow-sm form-input focus:ring-blue-200 focus:border-blue-200 sm:text-sm"
           type="text"/>
  </div>
  <div class="col-span-2">

    <label asp-for="AreaCode"
           class="block text-sm font-medium text-gray-700">
    </label>
    <input asp-for="AreaCode"
           class="block w-full mt-1 border-gray-300 rounded-md shadow-sm form-input focus:ring-blue-200 focus:border-blue-200 sm:text-sm"
           type="text">
  </div>

  <div class="col-span-4 sm:col-span-3">
    <label asp-for="BaseNumber"
           class="block text-sm font-medium text-gray-700">
    </label>
    <input asp-for="BaseNumber"
           class="block w-full mt-1 border-gray-300 rounded-md shadow-sm form-input focus:ring-blue-200 focus:border-blue-200 sm:text-sm">
  </div>

  <div class="col-span-2">
    <label asp-for="Extension"
           class="block text-sm font-medium text-gray-700">
      Durchwahl
    </label>
    <input asp-for="Extension"
           class="block w-full mt-1 border-gray-300 rounded-md shadow-sm form-input focus:ring-blue-200 focus:border-blue-200 sm:text-sm"/>
  </div>
</div>
