@model ViteAspNetReact.Features.InviteUser.InviteUser

@{
  ViewBag.Title = "Benutzer anlegen";
  Layout = null;
}

<div class="p-3 pl-6 pr-6 font-semibold rounded-md pt bg-gray-50">
  <div class="pb-3 text-blue-500">
    Benutzer einladen
  </div>

  <partial name="~/Features/InviteUser/_InviteUserForm.cshtml"></partial>
</div>
