<div>
  <div>Die Registierung wurde erfolgreich abgeschlossen.</div>
  <div class="py-4">Sie können sich nun anmelden.</div>
  @using (Html.BeginForm("Index", "Home", FormMethod.Get))
  {
    <button type="submit"
            class="flex justify-center w-full px-4 py-2 text-sm font-medium text-white border border-transparent rounded-md shadow-sm bg-blue-500 hover:bg-blue-500 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500">
      Jetzt anmelden
    </button>
  }
</div>
